body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family:Arial, Helvetica, sans-serif;
}

li {
	list-style-type: none;
	
}

a {
	text-decoration: none;
}

#header-list {
	display: flex;
}

#header-list #header-item {
	margin-left: 40px;
	padding: 0;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	
}

a, #hero-secondary-text {
	font-size: 18px;
	color: #E5E7EB;
}

.container-one {
	display: flex;
	flex-direction: column;
}

.container-one, .footer {
	background-color: #1F2937;
}

#hero-main-text {
	font-weight: bold;
	font-size: 48px;
	color: #F9FAF8;
	padding: 0;
	margin: 0;
}

#information-text {
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;

}

.hero {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 50px;
}

.hero-info {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 0;
	margin: 0;

}

.container-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 40px;
	margin-bottom: 150px;
}

#info-list {
	display: flex;
	box-sizing: border-box;
	width: 100%;
}

#info-list .box {
	margin: 0px 80px;
	padding: 0;
}

.box {
	border: 5px;
	border-style: solid;
	border-color: blueviolet;
	width: 200px;
	height: 150px;
	border-radius: 10px;
	
}

.container-three {
	background-color: #E5E7EB;
	padding: 2em;
}

#quote-text {
	font-size: 36px;
	color: #1F2937;
	text-align: center;
	margin: 0;
}

#quote-name {
	font-size: 18px;
	font-weight: bold;
	padding-left: 20em;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.container-four {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 90px 70px;
	color: white;
}

.banner {
	display: flex;
	flex-grow: 0;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;
	background-color: #3882F6;
	padding: 2em;
	width: 800px;
}

#banner-maintext {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
}

#banner-subtext {
	margin: 0;
	padding: 0;
}

.footer {
	color: white;
	text-align: center;
}

.btn {
	display: block; 
	height: 50px; 
	width: 150px; 
	background: #3882f6; 
	text-align: center; 
	font-weight:bold; 
	line-height: 50px; 
	text-decoration: none;
	border-radius: 10px;
}

.btn#banner {
	border-style: solid; 
	border-color: #FFFFFF;
}

